@import 'normalize.css';
@import 'infinitescroll.css';
@import 'timeline.css';
@import 'feed.css';
@import 'mediaqueries.scss';

/**
 * Header
 */

#masthead {
  box-shadow: rgb(0, 0, 0) 1px -3px 4px;
}
#masthead.header-default .head-inner {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0 10px 0;
}
#masthead.header-default .head-inner > div {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
#masthead.header-default .head-inner .mv-search {
  margin-bottom: 0px;
  margin-left: 30px;
}
#masthead.header-default .head-inner .mv-search input[type="text"] {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #ddd;
  border-radius: 25px;
  display: inline-block;
  width: 220px;
  height: 40px;
  padding: 6px 15px;
}
#masthead.header-default .head-inner .mv-search input[type="submit"] {
  color: #ffffff;
  background-color: #fd0e3e;
  border: 0 none;
  border-radius: 50%;
  margin-left: 7px;
  padding: 0;
  height: 40px;
  width: 40px;
  transition: color .15s ease-in-out,
              background-color .15s ease-in-out,
              border-color .15s ease-in-out,
              box-shadow .15s ease-in-out;
}
#masthead.header-default .head-inner .head-right {
  margin-left: auto;
}
.primary-navigation {
  font-family: "Roboto Condensed", sans-serif;
}
.primary-navigation ul {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
}
.primary-navigation li {
  position: relative;
}
.primary-navigation ul.nav-menu > li {
  display: inline-block;
  float: left;
}
.primary-navigation a {
  display: block;
  text-transform: none;
  white-space: nowrap;
  font-size: 16px;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}
.primary-navigation ul.nav-menu > li > a {
  display: inline-block;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  color: rgb(0, 0, 0);
  line-height: 55px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
.primary-navigation ul.nav-menu > li > a:hover {
  text-decoration: none;
}
.primary-navigation ul.nav-menu > li > a:after {
  content: "";
  left: 50%;
  top: 50%;
  margin-top: -1.5px;
  position: absolute;
  width: 0px;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  bottom: 22px;
  height: 3px;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}
.primary-navigation ul.nav-menu > li:last-child > ul {
  right: 0px;
  left: inherit;
}
.primary-navigation ul.nav-menu li:first-child > ul {
  left: 0px;
}
.primary-navigation ul.nav-menu li ul {
  text-align: left;
}
.primary-navigation ul.nav-menu li > ul {
  background-color: rgb(0, 0, 0);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  z-index: 9999;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #fd0e3e;
  top: 64px;
  left: 0px;
  min-width: 200px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px;
  transition-duration: 0.2s, 0.2s, 0.06s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s;
  transition-property: margin, opacity, visibility;
}
.primary-navigation ul.nav-menu li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.primary-navigation ul.nav-menu li ul li {
  width: auto;
  min-width: 50px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: auto;
  border-collapse: collapse;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
}
.primary-navigation ul.nav-menu li ul li:first-child {
  padding-top: 2px;
}
.primary-navigation ul.nav-menu li ul li a {
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 12px;
  color: rgb(102, 102, 102);
  position: relative;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(22, 22, 22);
}
.primary-navigation ul.nav-menu li ul li a:hover {
  text-decoration: none;
  color: #fd0e3e;
}
.primary-navigation ul.nav-menu li ul li:first-child > a {
  border-top-width: initial;
  border-top-style: none;
  border-top-color: initial;
}
.primary-navigation ul.nav-menu li > ul:before {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 20%;
  height: 0;
  width: 0;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  pointer-events: none;
}
.primary-navigation ul.nav-menu > li:last-child > ul:before {
  right: 10%;
  left: inherit;
}
.primary-navigation ul.nav-menu > li > .current-page:after {
  position: absolute;
  content: "";
  left: 50%;
  top: 70%;
  bottom: 22px;
  height: 3px;
  width: 73%;
  margin-left: -37%;
  margin-top: -1.5px;
  background: #fd0e3e;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
/* responsive nav */
#menu-responsive {
  font-size: 22px;
  cursor: pointer;
  display: none;
}
#navigation-mobile {
  display: none;
  left: 0;
  background-color: #fff;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  min-width: 250px;
  z-index: 8020;
}
#navigation-mobile ul.menu {
  margin: 0;
  padding: 0;
}
#navigation-mobile ul.menu li {
  list-style-type: none;
  position: relative;
}
#navigation-mobile ul.menu > li > a {
  text-transform: uppercase;
  border-bottom: 1px solid #dee2e6;
}
#navigation-mobile ul.menu > li > a:after {
  font-family: "Font Awesome 5 Free";
  content: "\f067";
  float: right;
}
#navigation-mobile ul.menu > li > a.dropdown:after {
  content: "\f068";
}
#navigation-mobile ul.menu li a {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: #000;
  display: block;
  font-size: 16px;
  padding: 15px;
  line-height: 17px;
}
#navigation-mobile ul.menu li a:hover {
  text-decoration: none;
}
#navigation-mobile ul.menu li ul.sub-menu {
  display: none;
  opacity: 0;
  margin: 0;
  padding: 0;
}
#navigation-mobile ul.menu li:hover > ul.sub-menu {
  text-decoration: none;
  display: block;
  opacity: 1;
}
#navigation-mobile ul.menu li ul.sub-menu li {
  background-color: #fafafa;
}
#navigation-mobile ul.menu li ul.sub-menu li a {
  padding-left: 30px;
  transition: linear .1s;
}
#navigation-mobile ul.menu li ul.sub-menu li a:hover {
  color: #fd0e3e;
}

/**
 * Content
 */

a, .btn-link, .page-link {
  color: #fd0e3e;
}

a:hover,
a:focus,
.btn-link:hover,
.btn-link:focus,
.page-link:hover,
.page-link:focus {
  color: #ec0326;
}

a:active
a.active,
.btn-link:active {
  color: #e40018;
}

.page-item.active .page-link {
  background-color: #fd0e3e;
  border-color: #eb0026;
}

.list-group-item.active {
  background-color: #fd0e3e;
  border-color: #eb0026;
}

.btn.btn-light-pink {
  color: #fd0e3e;
  background-color: #ffffff;
  border-color: #fd0e3e;
}

.btn.btn-light-pink:hover,
.btn.btn-light-pink:focus {
  color: #ffffff;
  background-color: #fd0e3e;
  border-color: #fd0e3e;
}

.btn.btn-pink {
  color: #ffffff;
  background-color: #fd0e3e;
  border-color: #fd0e3e;
}

.btn.btn-pink:hover,
.btn.btn-pink:focus,
#masthead.header-default .head-inner .mv-search input[type="submit"]:hover,
#masthead.header-default .head-inner .mv-search input[type="submit"]:focus {
  color: #ffffff;
  background-color: #ec0326;
  border-color: #eb0026;
}

.btn.btn-light-pink:active,
.btn.btn-light-pink.active,
.btn.btn-pink:active,
.btn.btn-pink.active,
#masthead.header-default .head-inner .mv-search input[type="submit"]:active {
  background-color: #e40018;
  border-color: #e80023;
}

.primary-navigation .profile-avatar {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: -10px;
  position: absolute;
  bottom: -15px;
}
#navigation-mobile .profile-avatar {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 10px;
}

/**
 * Notifications
 */
#notification {
  position: absolute;
  color: #fd0e3e;
  left: 0;
  font-size: 20px;
  bottom: 18px;
}

.notification-bell {
  z-index: -1;
  -webkit-animation: ring 8s .7s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 8s .7s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 8s .7s ease-in-out infinite;
  transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
  0% { -webkit-transform: rotateZ(0); }
  1% { -webkit-transform: rotateZ(30deg); }
  3% { -webkit-transform: rotateZ(-28deg); }
  5% { -webkit-transform: rotateZ(34deg); }
  7% { -webkit-transform: rotateZ(-32deg); }
  9% { -webkit-transform: rotateZ(30deg); }
  11% { -webkit-transform: rotateZ(-28deg); }
  13% { -webkit-transform: rotateZ(26deg); }
  15% { -webkit-transform: rotateZ(-24deg); }
  17% { -webkit-transform: rotateZ(22deg); }
  19% { -webkit-transform: rotateZ(-20deg); }
  21% { -webkit-transform: rotateZ(18deg); }
  23% { -webkit-transform: rotateZ(-16deg); }
  25% { -webkit-transform: rotateZ(14deg); }
  27% { -webkit-transform: rotateZ(-12deg); }
  29% { -webkit-transform: rotateZ(10deg); }
  31% { -webkit-transform: rotateZ(-8deg); }
  33% { -webkit-transform: rotateZ(6deg); }
  35% { -webkit-transform: rotateZ(-4deg); }
  37% { -webkit-transform: rotateZ(2deg); }
  39% { -webkit-transform: rotateZ(-1deg); }
  41% { -webkit-transform: rotateZ(1deg); }
  43% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
  0% { -moz-transform: rotate(0); }
  1% { -moz-transform: rotate(30deg); }
  3% { -moz-transform: rotate(-28deg); }
  5% { -moz-transform: rotate(34deg); }
  7% { -moz-transform: rotate(-32deg); }
  9% { -moz-transform: rotate(30deg); }
  11% { -moz-transform: rotate(-28deg); }
  13% { -moz-transform: rotate(26deg); }
  15% { -moz-transform: rotate(-24deg); }
  17% { -moz-transform: rotate(22deg); }
  19% { -moz-transform: rotate(-20deg); }
  21% { -moz-transform: rotate(18deg); }
  23% { -moz-transform: rotate(-16deg); }
  25% { -moz-transform: rotate(14deg); }
  27% { -moz-transform: rotate(-12deg); }
  29% { -moz-transform: rotate(10deg); }
  31% { -moz-transform: rotate(-8deg); }
  33% { -moz-transform: rotate(6deg); }
  35% { -moz-transform: rotate(-4deg); }
  37% { -moz-transform: rotate(2deg); }
  39% { -moz-transform: rotate(-1deg); }
  41% { -moz-transform: rotate(1deg); }
  43% { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(0); }
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }
  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}
/**
 * end
 */
.slick-prev:before {
  color: #fd0e3e !important;
  background-color: #eee;
}
.slick-next:before {
  color: #fd0e3e !important;
  background-color: #eee;
}
.slick-dots {
  display: none !important;
}

#scroll-main {
  color: #fd0e3e;
  background-color: #fff;
  font-size: 2rem;
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: linear .2s;
  display: none;
}

#scroll-main:hover,
#scroll-main:focus {
  color: #ec0326;
}

#scroll-main:active {
  color: #e40018;
}

header.backdrop {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 450px;
  margin: 2px 5% 0 5%;
}

header.backdrop .overlay {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 1) 3%, rgba(255, 255, 255, 0) 5%),
                    linear-gradient(to bottom left, rgba(255, 255, 255, 1) 3%, rgba(255, 255, 255, 0) 5%),
                    linear-gradient(to top right, rgba(255, 255, 255, 1) 3%, rgba(255, 255, 255, 0) 5%),
                    linear-gradient(to top left, rgba(255, 255, 255, 1) 3%, rgba(255, 255, 255, 0) 5%),
                    linear-gradient(to top, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0) 5%),
                    linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 4%),
                    linear-gradient(to left, rgba(255, 255, 255, 1) 0.5%, rgba(255, 255, 255, 0) 3%),
                    linear-gradient(to right, rgba(255, 255, 255, 1) 0.5%, rgba(255, 255, 255, 0) 3%);
  background-size: cover;
  height: 450px;
}

header.no-backdrop {
  height: 150px;
}

.tab-pane.active {
  transition: none;
}

.film-content {
  margin-top: -75px;
}

.film-content-col {
  margin-top: 68px;
}

.film-poster,
.personality-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  width: 185px;
  height: 266px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px;
}

.company-logo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  width: 200px;
  height: 200px;
}

.film-content-col .nav-tabs .nav-item,
.personality-content .nav-tabs .nav-item {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.1rem;
}

.headline {
  margin: -10px 0;
}

.headline * {
  display: inline-block;
}

.movie-title {
  font-family: "Roboto Slab", serif;
}

.headline p {
  font-size: 1.3rem;
}

.headline .original-title {
  font-family: "Roboto Condensed", serif;
  font-style: italic;
}

.headline .imdb-logo {
  vertical-align: sub;
  width: 22px;
  height: 23px;
}

.overview {
  text-align: justify;
}

.country-flag {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 45px;
  border: 1px solid #dee2e6;
  border-radius: 1px;
}

#casting p,
#crew p {
  margin: 2px 0;
  font-size: 1.1rem;
}

#casting-more p,
#crew-more p {
  margin: 0;
  font-size: 1rem;
}

#average {
  font-size: 48px;
  font-weight: 500;
}

/**
 * Profile
 */
.profile-nav ul li {
  display: block;
  width: 100%;
}
.profile-nav a,
.profile-nav a.active {
  border: none;
}
#preview {
  display: none;
}
.avatar {
  height: 160px;
  width: 160px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px;
}
.border-width {
  border: 3px solid #FFF;
}
.background-user {
  width: 100%;
  margin-top: 1px;
  height: 450px;
  background-size: cover;
  background-position: center;
}
.profile-header {
  padding-top: 280px;
}
.profile-title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 5px;
}
.profile-text {
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.profile-nav {
  border-bottom: none;
}

/**/
.carousel-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}
.carousel-content {
  margin-top: 100px;
  background-color: #FFF;
  opacity: 0.6;
}

/** forum **/
.forums {
  display: block;
  font-size: 1.75rem;
  padding: .75rem 1.25rem;
  border-radius: 2px;
  transition: .2s;
  position: relative;
  margin-bottom: .25rem;
}
.forums:after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
}
.forums:hover, .forums:focus, .forums:active {
  text-decoration: none;
}

.forum-cinema {
  color: #941f95;
  background-color: #d4a5d4;
  border: 1px solid #c98fca;
}
.forum-cinema:hover, .forum-cinema:focus, .forum-cinema:active {
  color: #851b86;
  background-color: #c98fca;
  border: 1px solid #be78bf;
}
.forum-cinema:after {
  background-image: url('/assets/logo-camera.png');
}

.forum-tv {
  color: #125628;
  background-color: #b7ccbe;
  border: 1px solid #a0bba9;
}
.forum-tv:hover, .forum-tv:focus, .forum-tv:active {
  color: #104d24;
  background-color: #a0bba9;
  border: 1px solid #88aa93;
}
.forum-tv:after {
  background-image: url('/assets/tv-logo.png');
  opacity: 0.5;
}

.forum-books {
  color: #e4794f;
  background-color: #f4c9b8;
  border: 1px solid #f1bca7;
}
.forum-books:hover, .forum-books:focus, .forum-books:active {
  color: #cd6c47;
  background-color: #f1bca7;
  border: 1px solid #eeae95;
}
.forum-books:after {
  background-image: url('/assets/book-logo.png');
  opacity: 0.5;
}

.forum-vidya {
  color: #0066cc;
  background-color: #b2d1ef;
  border: 1px solid #99c1ea;
}
.forum-vidya:hover, .forum-vidya:focus, .forum-vidya:active {
  color: #005bb7;
  background-color: #99c1ea;
  border: 1px solid #7fb2e5;
}
.forum-vidya:after {
  background-image: url('/assets/vidya-logo.png');
  opacity: 0.3;
  bottom: 5px;
}

.forum-music {
  color: #f3a831;
  background-color: #fbe4c1;
  border: 1px solid #fadcac;
}
.forum-music:hover, .forum-music:focus, .forum-music:active {
  color: #da972c;
  background-color: #fadcac;
  border: 1px solid #f9d398;
}
.forum-music:after {
  background-image: url('/assets/music-logo.png');
  opacity: 0.4;
  right: -5px;
}

.forum-misc {
  color: #cd025c;
  background-color: #f0b3ce;
  border: 1px solid #eb99bd;
}
.forum-misc:hover, .forum-misc:focus, .forum-misc:active {
  color: #b80152;
  background-color: #eb99bd;
  border: 1px solid #e680ad;
}
.forum-misc:after {
  background-image: url('/assets/misc-logo.png');
  opacity: 0.4;
  right: 5px;
}
.spoiler-tag {
    filter: blur(5px);
    transition-duration: .1s;
    background-color: #DDD;
}
.spoiler-tag:hover, .spoiler-tag:focus {
  filter: none;
  background-color: inherit;
}
.forum-msg h1,
.user-bio h1 {
  margin: 5px 0;
}
.forum-msg h2,
.user-bio h2 {
  margin: 1px 0;
  font-size: 1.75rem;
}
.forum-msg h3,
.user-bio h3 {
  font-size: 1.65rem;
}

/**
 * upload image / gallery
 */
.upload {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  font-size: 1.25rem;
  background-color: #c8dadf;
  position: relative;
  padding: 100px 20px;
}
.upload-icon {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 80px;
  color: #92b0b3;
  display: block;
  margin-bottom: 40px;
}
.input-image {
  width: 10.1px;
  height: 10.1px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload-browse {
  font-weight: 700;
  padding-bottom: 10px;
  padding-right: 0px;
}
.input-label {
  max-width: 80%;
  margin: 0 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}
.upload-submit {
  display: block;
  margin: 40px auto 0;
}

.trigger-uploading,
.trigger-success,
.trigger-error
{
  display: none;
}
.upload.is-uploading .input-label,
.upload.is-success .input-label,
.upload.is-error .input-label
{
  visibility: hidden;
}
.upload.is-dragover {
  outline-offset: -20px;
  outline-color: #c8dadf;
  background-color: #fff;
}
.upload.is-uploading .trigger-uploading,
.upload.is-success .trigger-success,
.upload.is-error .trigger-error
{
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;

  -webkit-transform: translateY( -50% );
  transform: translateY( -50% );
}
.trigger-success
{
  -webkit-animation: appear-from-inside .25s ease-in-out;
  animation: appear-from-inside .25s ease-in-out;
}
@-webkit-keyframes appear-from-inside
{
  from  { -webkit-transform: translateY( -50% ) scale( 0 ); }
  75%   { -webkit-transform: translateY( -50% ) scale( 1.1 ); }
  to    { -webkit-transform: translateY( -50% ) scale( 1 ); }
}
@keyframes appear-from-inside
{
  from  { transform: translateY( -50% ) scale( 0 ); }
  75%   { transform: translateY( -50% ) scale( 1.1 ); }
  to    { transform: translateY( -50% ) scale( 1 ); }
}
/**/
.gallery-thumbnail {
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px;
  width: 270px;
}
.video-i {
  position: absolute;
  bottom: 42%;
  right: 42%;
  opacity: 0.75;
  font-size: 36px;
}
.grid {
  margin: 0 auto;
}
.grid-item {
  margin-bottom: 10px;
}
.image-like {
  margin-left: 20px;
  font-size: 24px;
  cursor: pointer;
  transition: .2s;
}
.image-like:hover,
.image-like.active {
  color: #4dabf7;
}

.custom-file-label::after {
  content: "Parcourir" !important;
}

.background-list {
  width: 100%;
  margin-top: 1px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .5);
}
.list-header {
  text-align: center;
  margin: auto;
}
/*.list-header*/ .profile-avatar {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.list-description {
  margin: 0 15px;
  padding: 0 5px;
}
.annotation-div {
  color: #343a40;
  background-color: #f9fafb;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}
.infos-list {
  font-size: 14px;
  padding: 5px;
}
.empty-list {
  font-size: 22px;
  font-weight: 400;
}
