#all-follows {
  padding: 19.5px 64px;
}
#following-list {
  max-height: 390px;
  overflow: auto;
}
#feed-header {
  border-bottom: 1px solid rgba(0,0,0,.125);
  margin-bottom: 15px;
}
#feed-header a:not(:last-child) {
  border-right: 1px solid rgba(0,0,0,.125);
}
#feed-header a:not(.active) {
  opacity: .75;
}
#feed-header a.active {
  text-decoration: underline;
}
.d-avatar {
  float: left;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px;
  border: 1px solid #FFF;
  border-radius: 2px;
}
.activity-row {
  padding: 0 5px 15px 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-radius: 3px;
}
.activity-row .d-avatar {
  margin-right: 10px;
}
.activity-row .activity-date {
  font-size: .75rem;
}
