@media (max-width: 575.98px) {
  #masthead.header-default .head-inner .mv-search input[type="text"] {
    margin-left: -155px !important;
  }
}

@media (max-width: 767.98px) {
  #masthead.header-default .head-inner .mv-search input[type="submit"] {
    margin: 0 !important;
  }
  #masthead.header-default .head-inner .mv-search input[type="text"] {
    width: 160px !important;
  }
  header.backdrop {
    display: none !important;
  }
  .film-content {
    margin-top: 0 !important;
  }
  .film-content .film-poster {
    margin: 50px auto 1rem auto !important;
  }
  header.no-backdrop {
    display: none !important;
  }

  .carousel-background {
      height: 300px !important;
  }
  .carousel-content {
      margin-top: 75px !important;
  }

  .background-user {
    height: 300px !important;
  }
  .background-list {
    height: 280px !important;
  }
  .profile-header {
    padding-top: 130px !important;
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  .film-content .film-poster {
    margin: -150px auto 1rem 0 !important;
  }
}

@media (max-width: 991.98px) {
  #masthead.header-default .head-inner .mv-search input[type="text"] {
    width: 175px;
  }
  .film-content-col {
    margin-top: 0 !important;
  }
  #menu-mainnav {
    display: none !important;
  }
  #menu-responsive {
    display: block !important;
  }
  header.no-backdrop {
    height: 250px !important;
  }
}

@media (max-width: 991.98px) {
  .background-user {
    height: 350px !important;
  }
  .background-list {
    height: 320px !important;
  }
  .profile-header {
    padding-top: 180px !important;
  }
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .background-user {
    height: 400px !important;
  }
  .background-list {
    height: 350px !important;
  }
  .profile-header {
    padding-top: 230px !important;
  }
  .primary-navigation ul.nav-menu > li > a {
    padding: 0 10px !important;
  }
}
